body, h1, h2, h3, p, ul, li, form, input, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth; 
    overflow-x: hidden;
    /* transform: scale(1);  */
    transform-origin: top left;
    max-width: 100%;
}

nav {
    background-color: #333;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    top: 0;
    z-index: 1000;
}



.logo{
    height: 100%;
    /* width: 100%; */
    max-width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    margin-right: 2em;
}

nav ul li {
    margin-left: 2em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
}

nav ul li a:hover {
    background-color: #555;
    opacity: 2.0;
}

section {
    padding: 6em 2em; 
    margin: 2em 0;
}

.service-title{
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 4em;
    flex-wrap: wrap;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    flex: 1 1 30%;
    max-width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    box-sizing: border-box;
}

.card-link {
    display: block;
    color: inherit; 
    text-decoration: none; 
}

.card:hover .card-img{
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

.card-button {
    background-color: #3498db; 
    color: white; 
    border: none; 
    padding: 0.75em 1.5em; 
    margin-top: 1.5em; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.card-button:hover {
    background-color: #2980b9; 
    transform: translateY(-2px); 
}

.card-img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
}

.form {
    background-color: #f9f9f9;
    padding: 2em;
    border-radius: 8px;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: auto;
}

.form-elements{
    padding: 2em;
    border-radius: 8px;
    height: 500px;
    width: 500px;
    margin: auto;
    padding: auto;
}

form label {
    display: block;
    margin: 1em 0 0.5em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

form textarea{
    height: 150px;
}


.form-title{
    text-align: center;
    margin-bottom: 10px;
}

.form-btn{
    display: block;
    margin: 0 auto;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 0.7em 2em;
}


button:hover {
    background-color: #555;
}


.banner {
    text-align: center; 
    width: 100%; 
    display: inline-block;
    position: relative;
}

.banner-image{
    width: 100%; 
    height: 600px;
}

.overlay-text{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* @media (min-width: 1600px){
    .container{
        width: 80%;
    }
} */

.footer {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #333;
    color: white;
    padding: 1em 0;
}


.footer .footer-left {
    position: absolute;
    left: 3em; 
    display: flex;
    align-items: center;
}

.footer-p {
    margin-right: 1em; 
}

.footer-icons {
    vertical-align: middle;
    margin-left: 10px;
    opacity: 0.5;
}

.footer-icons:hover{
    opacity: 1;
}

@media (max-width: 768px) {
    .cards{
        flex-direction: column;
        justify-content: center;
    }

    .card {
        max-width: 80%; 
        margin: 1em auto;
    }

    nav ul{
        flex-direction: row;
    }

    nav{
        flex-direction: row;
        width: 100%;
    }

    .footer-icons .footer-left{
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
        max-width: 100%;
        position: relative;
    }
    .form {
        display: flex;
        justify-content: center; /* Center the form horizontally */
        align-items: center; /* Center the form vertically */
        padding: 20px;
        box-sizing: border-box;
    }
    
}